---
import { Image } from 'astro:assets';

const { images } = Astro.props;
---

<div class="relative pb-8">
  <div class="swiper my-6">
    <div class="swiper-wrapper">
      {
        images.map((img: ImageMetadata) => (
          <div class="swiper-slide">
            <Image
              src={img}
              alt="summary image"
              class="rounded-md h-[600px] object-cover object-top"
            />
          </div>
        ))
      }
    </div>
  </div>
  <div class="swiper-pagination bottom-0"></div>
</div>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper('.swiper', {
    spaceBetween: 30,
    speed: 500,
    effect: 'coverflow',
    centeredSlides: true,
    slidesPerView: 1.1,
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 2,
      slideShadows: true,
    },
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>
