---
import GithubIcon from '../icons/github-mark.astro';
import DownloadDocumentIcon from '../icons/downloadDocument.astro';
import { Image } from 'astro:assets';
import juanImage from '../../assets/Juan.JPG';
---

<script>
  const today = new Date();
  const firstJune2023 = new Date('2023-06-01');

  const yearsPassed = Math.floor(
    (today.getTime() - firstJune2023.getTime()) / (1000 * 60 * 60 * 24 * 365)
  );
  document.getElementById('years-experience').innerHTML = yearsPassed;
  let yearsText = 'años de experiencia';
  if (yearsPassed < 2) {
    yearsText = 'año de experiencia';
  }
  document.getElementById('years-text').innerHTML = yearsText;
</script>

<section
  class="flex flex-col-reverse md:flex-row max-w-screen-lg gap-10 items-center px-10 my-24 mx-auto"
>
  <div class="flex flex-col items-start gap-2">
    <h1 class="text-5xl md:text-6xl font-semibold leading-snug">
      Hola, soy Juan Hedderich
    </h1>
    <h3 class="text-xl md:text-2xl text-balance">
      Desarrollador front-end de Venezuela con <span id="years-experience"
      ></span>
      <span id="years-text"></span>. Trabajando actualmente en Avilatek ⛰️.
    </h3>
    <h4 class="text-lg"></h4>
    <div class="flex gap-3 mt-2">
      <a
        href="https://github.com/Robbyro10"
        target="_blank"
        class="shadow hover:rotate-3 hover:scale-105 bg-blue-500 rounded-full text-white transition ease-out gap-3 px-4 flex items-center text-lg will-change-transform font-bold"
      >
        Mi GitHub
        <GithubIcon class="size-6" />
      </a>
      <a
        href="#"
        class="shadow hover:rotate-3 hover:scale-105 bg-blue-500 rounded-full text-white transition ease-out flex gap-3 items-center h-fit px-4 py-2 text-lg will-change-transform font-bold"
      >
        Descargar CV
        <DownloadDocumentIcon class="size-6" />
      </a>
    </div>
  </div>
  <Image
    src={juanImage}
    loading="eager"
    alt="Juan Hedderich"
    class="rounded-full size-56"
  />
</section>
