---
import { skills } from '../../data/skills';
import SkillCard from './SkillCard.astro';
---

<script>
  const scrollers = document.querySelectorAll('.scroller');
  if (!window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
    addAnimation();
  }

  function addAnimation() {
    scrollers.forEach((scroller) => {
      scroller.setAttribute('data-animated', 'true');

      const scrollerInner = scroller.querySelector('.scroller__inner');
      const scrollerContent = Array.from(scrollerInner!.children);

      scrollerContent.forEach((item) => {
        const duplicatedItem: any = item.cloneNode(true);
        duplicatedItem.setAttribute('aria-hidden', true);
        scrollerInner?.appendChild(duplicatedItem);
      });
    });
  }
</script>

<section
  class="hidden md:flex flex-col w-full items-start max-w-screen-lg mx-auto"
>
  <h2 class="text-3xl mx-5 font-semibold">Mis habilidades</h2>
  <div class="py-10 scroller max-w-screen-lg">
    <div class="skill-list scroller__inner">
      {skills.map((skill) => <SkillCard {skill} />)}
    </div>
  </div>
</section>

<style>
  .scroller__inner {
    padding-block: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .scroller[data-animated='true'] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  .scroller[data-animated='true'] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 45s linear infinite;
  }

  .scroller[data-animated='true'] .scroller__inner:hover {
    /* animation-play-state: paused; */
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
</style>
