---
interface Props {
  skill: string;
}

const { skill } = Astro.props;
---

<div
  class="border flex flex-col justify-center items-center gap-3 rounded p-5 hover:bg-gray-50 transition ease-out shrink-0"
>
  <img src=`/${skill}.svg` class="w-32 h-32" />
</div>
