---
import { Image } from 'astro:assets';
import type { Skill } from '../../types/skill';

interface Props {
  skill: Skill;
}

const { skill } = Astro.props;
---

<div class="relative group rounded p-3 transition ease-out shrink-0">
  <Image
    src={skill.image}
    loading="eager"
    alt=`${skill.name} icon`
    class="w-full h-24"
  />
</div>
