---
import { Image } from 'astro:assets';

interface Props {
  skill: any;
}

const { skill } = Astro.props;
---

<li class="relative group rounded p-5 transition ease-out shrink-0">
  <Image
    src={skill.image}
    loading="eager"
    alt=`${skill.name} icon`
    class="w-24 h-24"
  />
</li>
