---
interface Props {
  skill: string;
}

const { skill } = Astro.props;
---

<div
  class="border flex flex-col justify-center items-center gap-3 rounded p-5 w-36 hover:bg-gray-50 transition ease-out shrink-0"
>
  <img src=`/${skill}.svg` class="w-full max-h-20" />
  <h3 class="text-xl capitalize">{skill}</h3>
</div>
