---
import { Image } from 'astro:assets';
import type { Skill } from '../../types/skill';

interface Props {
  skill: Skill;
}

const { skill } = Astro.props;
---

<a
  href={skill.url}
  target="_blank"
  class="flex flex-col items-center p-5 hover:scale-105 transition ease-out duration-500"
>
  <Image
    src={skill.image}
    loading="eager"
    alt=`${skill.name} icon`
    class="w-full h-20 md:h-24"
  />

  <p class="text-center text-lg mt-3">
    {skill.name}
  </p>
</a>
