---
const {} = Astro.props;
---

<section
  class="flex flex-col justify-center items-center gap-5 w-full p-6 mt-6 max-w-3xl mx-auto"
>
  <img src="/Juan.JPG" class="rounded-full h-40 w-fit" />

  <p class="text-lg">
    Enfocado en aprender y mejorar, estoy comprometido a hacer software de
    calidad que cumpla con los requisitos y sea un placer de utilizar.
  </p>
  <div class="flex items-center gap-5">
    <a
      href="https://github.com/Robbyro10"
      target="_blank"
      class="hover:scale-105 transition ease-out"
    >
      <img src="/ui/github-mark.svg" class="h-10" />
    </a>
    <a
      href="mailto:jgh2748@gmail.com"
      target="_blank"
      class="hover:scale-105 transition ease-out"
    >
      <img src="/ui/email.svg" class="h-10" />
    </a>
    <a
      href="https://www.linkedin.com/in/juan-hedderich-00778825b/"
      target="_blank"
      class="hover:scale-105 transition ease-out"
    >
      <img src="/ui/linkedin.svg" class="h-10" />
    </a>
  </div>
</section>
