---
import { Image } from 'astro:assets';
import juanImage from '../../assets/Juan.JPG';
import GithubIcon from '../icons/github-mark.astro';
import LinkedInIcon from '../icons/linkedin.astro';
import EmailIcon from '../icons/email.astro';
const {} = Astro.props;
---

<section
  class="flex flex-col justify-start items-center gap-5 w-full p-6 mt-6 max-w-3xl mx-auto"
>
  <Image
    src={juanImage}
    loading="eager"
    alt="Juan Hedderich"
    class="rounded-full w-56"
  />

  <p class="text-lg">
    Enfocado en aprender y mejorar, estoy comprometido a hacer software de
    calidad que cumpla con los requisitos y sea un placer de utilizar.
  </p>
  <div class="flex items-center gap-5">
    <a
      href="https://github.com/Robbyro10"
      target="_blank"
      aria-label="Juan Hedderich GitHub profile link"
      class="hover:scale-105 hover:rotate-6 transition ease-out"
    >
      <GithubIcon class="size-10" />
    </a>
    <a
      href="mailto:jgh2748@gmail.com"
      target="_blank"
      aria-label="email link"
      class="hover:scale-105 hover:-rotate-6 transition ease-out"
    >
      <EmailIcon class="size-10" />
    </a>
    <a
      href="https://www.linkedin.com/in/juan-hedderich-00778825b/"
      target="_blank"
      class="hover:scale-105 hover:rotate-6 transition ease-out"
    >
      <LinkedInIcon class="size-10" />
    </a>
  </div>
</section>
