---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Pa패gina no encontrada" description="Pa패gina no encontrada">
  <section class="py-60 flex flex-col justify-center items-center gap-6">
    <h1 class="text-7xl font-bold">404</h1>
    <h2 class="text-3xl font-bold">Pa패gina no encontrada</h2>
    <a href="/" class="text-blue-500 hover:underline"
      >Ir a la pa패gina principal</a
    >
  </section>
</Layout>
