---
import Layout from '../layouts/Layout.astro';
import About from '../components/about/About.astro';
import SkillsSection from '../components/skills/SkillsSection.astro';
import ReposSection from '../components/repositories/ReposSection.astro';
import Penguin from '../components/penguin/Penguin.astro';
import HeroSection from '../components/hero/HeroSection.astro';
---

<Layout title="Juan Hedderich">
  <main class="">
    <HeroSection />
    <ReposSection />
    <SkillsSection />
    <div class="relative">
      <About />
      <div class="absolute bottom-20 -right-20 -rotate-45">
        <Penguin />
      </div>
    </div>
    <div class="absolute bottom-20 -left-20 rotate-45">
      <Penguin />
    </div>
  </main>
</Layout>

<style>
  body {
    font-family: monospace;
    overflow-x: hidden;
    background: #f5fbff;
  }
</style>
