---
import Layout from '../layouts/Layout.astro';
import About from '../components/about/About.astro';
import SkillsSection from '../components/skills/SkillsSection.astro';
import HeroSection from '../components/hero/HeroSection.astro';
import ProjectList from '../components/projects/ProjectList.astro';
import ExperienceSection from '../components/experience/ExperienceSection.astro';
---

<Layout
  title="Portafolio de Juan Hedderich - Desarrollador y Programador Web"
  description="Conoce el portafolio de Juan Hedderich, un desarrollador frontend especializado en aplicaciones web y diseño de interfaces de usuario."
>
  <div class="flex flex-col gap-10">
    <HeroSection />

    <ExperienceSection />

    <ProjectList />

    <SkillsSection />

    <About />
  </div>
</Layout>

<style>
  body {
    overflow-x: hidden;
    background: #fefefe;
  }
  /* @media (prefers-reduced-motion: no-preference) {
    .fadein {
      scale: 0.9;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: 250px 500px;
    }

    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }
  } */
</style>
