---
import { Image } from 'astro:assets';
import HeddLogo from '../assets/hedd-logo.png';
import ArrowIcon from '../components/icons/arrow.astro';

const currentPath = Astro.url.pathname;
---

<nav
  class="fixed flex items-center h-20 max-w-screen-xl border-b w-full bg-white mx-auto z-30"
>
  <div class="relative w-full">
    {
      currentPath.includes('projects') && (
        <a
          href="/"
          class="flex gap-1 items-center px-3 hover:text-blue-500 transition ease-out"
        >
          <div class="rotate-90">
            <ArrowIcon class="size-4" />
          </div>
          Volver
        </a>
      )
    }

    <a href="/">
      <Image
        src={HeddLogo}
        loading="eager"
        alt="a penguin icon"
        class="absolute hover:scale-105 hover:-rotate-6 transition ease-out size-16 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
      />
    </a>
  </div>
</nav>
