---
import ArrowIcon from '../components/icons/arrow.astro';
import Logo from '../components/icons/logo.astro';
import ThemeSwitcher from './common/ThemeSwitcher.astro';

const currentPath = Astro.url.pathname;
---

<nav
  class="border-b dark:border-none bg-white dark:bg-slate-950 flex justify-center items-center h-16 w-full z-30 transition ease-out"
  id="navbar"
>
  <div class="relative w-full max-w-screen-xl">
    {
      currentPath.includes('projects') && (
        <a
          href="/"
          class="flex gap-1 items-center pl-9 hover:text-blue-500 transition ease-out w-fit"
        >
          <div class="rotate-90">
            <ArrowIcon class="size-5" />
          </div>
        </a>
      )
    }

    <a
      href="/"
      aria-label="Home"
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <Logo
        class="hover:scale-105 hover:-rotate-6 transition ease-out size-16"
      />
    </a>
  </div>
  <!-- <ThemeSwitcher /> -->
</nav>

<script>
  let prevScrollPosition = 0;
  let navbar = document.getElementById('navbar');
  function checkScrollDirection() {
    const scrollPosition = window.scrollY;
    if (scrollPosition > prevScrollPosition) {
      navbar!.classList.add('hide');
    } else {
      navbar!.classList.remove('hide');
    }
    prevScrollPosition = scrollPosition;
  }

  window.addEventListener('scroll', checkScrollDirection);
</script>

<style>
  #navbar {
    position: fixed;
    top: 0;
    transition: transform 0.3s ease-out;
  }

  #navbar.hide {
    transform: translateY(-100%);
  }
</style>
