---
import { projects } from '../../data/projects';
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project },
    };
  });
}

const { project } = Astro.props;
---

<Layout title={project.name}>
  <div>
    <h1>{project.name}</h1>
    <h2>{project.description}</h2>
  </div>
</Layout>
