---
import Footer from '../components/common/Footer.astro';
import Navbar from '../components/Navbar.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Navbar />
  <body>
    <div class="relative h-full w-full bg-white">
      <div
        class="fixed inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
      >
      </div>
    </div>
    <slot />
    <Footer />
  </body>

  <style is:global>
    html {
      font-family: 'Inter Variable', sans-serif;
      width: 100%;
    }
  </style>


</html>
