---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/common/Footer.astro';
import Navbar from '../components/Navbar.astro';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <Navbar />
  <body>
    <div class="dark:block hidden relative h-full w-full">
      <div
        class="fixed -z-10 bottom-0 bg-slate-950 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"
      >
      </div>
    </div>
    <div class="dark:hidden block relative h-full w-full bg-white">
      <div
        class="fixed inset-0 -z-10 h-full w-full bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
      >
      </div>
    </div>
    <div class="pt-24">
      <slot />
    </div>
    <Footer />
  </body>

  <style is:global>
    html {
      font-family: 'Inter Variable', sans-serif;
      color-scheme: dark light;
    }
  </style>
</html>
