---
interface Props {
  title: string;
  description: string;
  language: string;
}

const { title, description, language } = Astro.props;
---

<div
  class="flex-auto shadow bg-gray-50 rounded-md flex flex-col gap-3 p-6 w-fit"
>
  <h2 class="text-4xl">{title}</h2>
  <p>{description}</p>
  <div class="flex gap-2 items-center">
    <img src=`/${language}.svg` class="h-6" />
    <p>{language}</p>
  </div>
</div>
