---
import RepoCard from './RepoCard.astro';
---

<section class="py-6 flex flex-col justify-between max-w-screen-lg mx-auto">
  <div>
    <h2 class="text-3xl mx-5">Mis Proyectos</h2>
    <div class="flex gap-5 my-3">
      <RepoCard
        title="Inmobilia App"
        description="Es una app muy cooque muestra real state"
        language="typescript"
      />
      <RepoCard
        title="Inmobilia App"
        description="Es una app muy cooque muestra real state"
        language="javascript"
      />
      <RepoCard
        title="Inmobilia App"
        description="Es una app muy cooque muestra real state"
        language="typescript"
      />
    </div>
  </div>
</section>
